<h1><%= @passenger.name %>'s Passenger Info</h1>
<br>
<h2>Flight Numbers For <%= @passenger.name %></h2>
<% @passenger.flights.each do |flight| %>
  <section id="flights-<%= flight.id %>">
    <p><%=link_to flight.number, "/flights/#{flight.id}"%></p>
  </section>
<% end %>

<h3>Add A Flight For <%= @passenger.name %></h3>
<%= form_tag "/passengers/#{@passenger.id}", method: :post do %>
  <p><%= label_tag :number, "Flight Number:" %><%= text_field_tag :number %></p>
  <p><%= submit_tag "Submit" %></p>
<% end %>
